:root {
  --fuenteGeneral: "Fira Code", monospace;
  --primario: #2d2e2e;
  --claro: #bac8d3;
  --blanco: #fff;
  --gris-oscuro: #212222;
  --amarillo: #e0a80d;
  --amarillo-claro: #eec554;
}

html {
  box-sizing: border-box;
  font-size: 62, 5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

body {
  font-size: 16px;
  font-family: var(--fuenteGeneral);
  background-color: var(--gris-oscuro);
}

/** Estilos Navegación */
.contenedor {
  max-width: 60%;
  margin: 0px auto;
}

.nav-bg {
  background-color: var(--gris-oscuro);
  text-transform: uppercase;
}

.nav-ppal {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .nav-ppal {
    flex-direction: row;
  }
}

.nav-ppal a {
  display: block;
  text-align: center;
  color: var(--claro);
  text-decoration: none;
  padding: 1rem;
  border-radius: 10px;
}

.nav-ppal a:hover {
  background-color: var(--primario);
  color: var(--blanco);
}

/** Estilos Primera Sección - Banner ppal*/
.sec-ppal {
  background-image: url(../imagenes/imagen9.jpg);
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  position: relative;
}


.contenido-ppal {
  position: absolute;
  background: rgba(33, 34, 34, 0.9);
  /* forma antigua */
  background: rgb(33 34 34 / 0.9);
  /* forma nueva ccs3 */
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.contenido-ppal h1 {
  color: var(--claro);
  margin: 0;
  letter-spacing: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .contenido-ppal h1 {
    font-size: 2.5rem;
  }
}

.contenido-ppal p {
  color: var(--claro);
  letter-spacing: 10px;
  text-align: center;
}

.boton {
  background: none;
  color: var(--amarillo);
  border-color: var(--amarillo);
  border-radius: 30px;
  padding: 10px;
  margin: 0px 0px 1rem 0px;
  cursor: pointer;
  width: 80%;
  max-width: 50%;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

.boton:hover {
  border-color: var(--claro);
}

.boton a {
  text-decoration: none;
  color: var(--claro);
}

/** Nabih - Estilos About */
.sec-about {
  background-color: var(--primario);
  padding-top: 50px;
  padding-bottom: 50px;
}

.contenido-about {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

@media (max-width: 768px) {
  .contenido-about {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.imagen-about {
  width: 100%;
  margin: auto;
}

.detail-about {
  width: 90%;
  margin: 0 auto;
}

.detail-about h2 {
  color: var(--amarillo);
  text-transform: uppercase;
}

.detail-about p {
  color: var(--claro);
  text-align: center;
  line-height: 20px;
}

.contenedor-boton {
  text-align: center;
  padding: 20px 0px;
}

/** Agustina - Estilos Tecnologías */
.sec-tech {
  height: auto;
  position: relative;
  display: grid;
  justify-content: center;
  background-color: var(--gris-oscuro);
  padding-bottom: 50px;
  padding-top: 30px;
}

.sec-tech h2 {
  color: var(--amarillo);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.sec-tech p {
  color: var(--claro);
  text-align: center;
  margin-bottom: 20px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 150x; */
  width: 100%;
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  padding: 20px;
  justify-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 480px) {
  .grid-layout {
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: auto; */
    gap: 50px;
    margin: 10px;
  }
}

.caja {
  width: 200px;
  height: 200px;
}

.imagen-tech {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  filter: contrast(110%);
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.4);
}

.imagen-tech:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/** Juan P. - Estilos Porfolio */
.contenedor-portfolio {
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primario);
}

.portfolio-title {
  width: 90%;
  text-transform: uppercase;
  color: var(--amarillo);
}

.contenedor-botones-portfolio {
  width: 90%;
}

.contenedor-items-portfolio {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portfolio-item {
  overflow: hidden;
  padding: 1rem 0rem;
}


.portfolio-item img {
  width: 100%;
  height: 210px;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0 0 0 / 0.5);
}

.portfolio-item:hover {
  transition: all 400ms ease;
  transform: scale(1.8);
}

/** Estilos del Blog */
.blog-section {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.sec-blog {
  background-color: var(--gris-oscuro);
  padding-bottom: 50px;
  padding-top: 30px;
}

.sec-blog h2 {
  color: var(--amarillo);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.sec-blog p {
  color: var(--claro);
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .blog-section {
    width: 80%;
    display: block;
  }
}

.card {
  width: 100%;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primario);
  box-shadow: 0 1px 10px 0 rgba(0 0 0 / 0.5);
  cursor: default;
  transition: all 400ms ease;
}


.card:hover {
  box-shadow: 5px 5px 20px 0 rgba(0 0 0 / 0.9);
  transform: translateY(-1%);
}

.figure-blog {
  width: 100%;
  height: auto;
  margin: 0;
}

.card img {
  width: 100%;
  height: 200px;
}

.card .contenido-blog {
  padding: 15px;
  text-align: center;
}

.card .contenido-blog p {
  line-height: 1.5;
  color: var(--claro);
}

.card .contenido-blog h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--amarillo);
}

.card .contenido-blog a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: var(--claro);
  border: 1px solid var(--claro);
  border-radius: 10px;
  transition: all 400ms ease;
}

.card .contenido-blog a:hover {
  background: var(--amarillo);
  color: var(--gris-oscuro);
}

.text-blog {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/** Estilos Formulario del Index.html */
.section-form {
  padding-bottom: 50px;
  background-color: var(--primario);
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.title-form {
  text-align: center;
  color: var(--amarillo);
  text-transform: uppercase;
}

.contact-wrapper {
  margin: 0 auto;
  box-shadow: 0 0 25px 0 rgba(0 0 0 / 0.9);
  border-radius: 10px;
}

.contact-wrapper>* {
  padding: 2rem;
}

.contact-form {
  background-color: var(--gris-oscuro);
  color: var(--blanco);
  border-radius: 10px 10px 0 0;
}

.contact-form form p {
  margin: 0;
  padding: 1rem;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background: none;
  outline: 0;
  color: var(--blanco);
  border-bottom: 1px solid var(--amarillo);
}

.contact-form form button {
  background: var(--amarillo);
  color: var(--gris-oscuro);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 10px;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background-color: var(--amarillo-claro);
  color: var(--gris-oscuro);
  transition: background-color 1s ease;
  outline: 0;
}

.contact-info {
  background-color: var(--amarillo);
  border-radius: 0 0 10px 10px;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  padding: 0.5rem;
}

/**Estilos para las validaciones del formulario*/



/*MQ large screen form*/
@media (min-width: 768px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-form {
    border-radius: 10px 0 0 10px;
  }

  .contact-info {
    border-radius: 0 10px 10px 0;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1rem;
    text-align: left;
  }
}

#send-mail {
  opacity: 0;
}

/**Estilos del map API */
#myMap {
  height: 350px;
  max-width: 1165px;
  margin: 20px auto 0;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0 0 0 / 0.9);
}

@media (max-width: 768px) {
  #myMap {
    height: 200px;
    width: 95%;
    margin: 20px auto 0;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 rgba(0 0 0 / 0.9);
  }
}

@media (max-width: 440px) {
  #myMap {
    height: 200px;
    width: 92%;
    margin: 20px auto 0;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 rgba(0 0 0 / 0.9);
  }
}

/** Estilos del Footer */
.footer {
  width: 100%;
  background-color: var(--gris-oscuro);
  margin: 40px 0;
}

.footer_info {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.dev a {
  color: var(--claro);
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer_info p {
  color: var(--claro);
  text-transform: uppercase;
}

.footer_info h4 {
  color: var(--amarillo);
  text-transform: uppercase;
}

/**estilos redes sociales**/
.footer_icon {
  width: 70%;
  margin: auto;
}

.footer_icon h4 {
  color: var(--amarillo);
  text-transform: uppercase;
}

.icon_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_network_icon {
  width: auto;
  margin: 15px;
  padding: 2px 4px;
  background-color: var(--amarillo);
  border: none;
  border-radius: 5px;
  font-size: 30px;
  color: var(--primario);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social_network_icon:hover {
  color: var(--amarillo);
  background-color: var(--gris-oscuro);
}

/** estilos ir arriba */
.go_up_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  background-color: var(--amarillo);
  color: var(--blanco);
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}